
.App {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  grid-template-rows: 260px  300px  0px;
  grid-template-areas:
 'body body body body'
 'body body body body'
 'main main main main'
;

}

.header {
grid-area: header;
background-color: yellow;
}

.body{
grid-area: body;
background-image: url("./Image/background.jpg");
background-color: rgb(255, 255, 255);;
background-image: url("./Image/background.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;

}
.main{
  grid-area: main;
  /* background-color: rgb(251, 194, 6); */
}




@media only screen and (max-width: 990px) {
  .App {
      display: grid;
      grid-template-columns: 3.5fr 3.5fr ;
      /* grid-template-rows: 221px  ; */
      grid-template-rows: 231px 231px 0 ;
      grid-template-areas:
     'body body'
     'main main '
     'main main' ;
  }

  .body{
    grid-area: body;
    background-color:white;
    background-image: none;
}}

